*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#cont{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#quote-box{
    width: 40%;
    height: fit-content;
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    background-color: whitesmoke;
  }
  

  #text-cont{
    display:flex;
    flex-direction: column;
    flex: 4 2;
    
  }


  #text{
    background-color: whitesmoke;
    /*border: 1px solid red;*/
    flex: 2 0.5;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height:1.5;
  }

  #text p, #author p{
    height: fit-content;
  }

  
  #author{
    background-color: whitesmoke;
    /*border: 1px solid green;*/
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
  }
  
  #buttons{
    background-color: whitesmoke;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  button{
    border: none;
    background-color: whitesmoke;
    text-align: center;
  }

  #social{
    width:50px;
  }

  #social i{
    font-size: 3rem;
  }

  #new-quote{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
  }


  #nqbutton{
    font-size: 1rem;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    width: 120px;
    height: 40px;
  }

  #nqbutton:hover{
    opacity: 0.7;
    cursor: pointer;
  }